
:root {
    --darkGreenOlive: #556B2F; 
    --wheat: #F5DEB3;         
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    background-color: var(--wheat); 
    color: var(--darkGreenOlive);    
    padding: 20px;
}

/* En-tête */
h2 {
    text-align: center;
    color: var(--darkGreenOlive);
    font-size: 2rem;
    margin-bottom: 20px;
}

/* Liste des utilisateurs */
h3 {
    color: var(--darkGreenOlive);
    font-size: 1.5rem;
    margin-bottom: 10px;
}

ul {
    list-style-type: none;
    margin-bottom: 20px;
}

li {
    background-color: var(--wheat);
    padding: 10px;
    margin: 5px 0;
    border: 1px solid var(--darkGreenOlive);
    border-radius: 5px;
}

li form {
    display: inline;
}

/* Style pour les formulaires */
form {
    background-color: var(--darkGreenOlive);
    color: var(--wheat);
    padding: 15px;
    border-radius: 8px;
    margin-top: 20px;
}

form label {
    display: block;
    margin-bottom: 10px;
    font-size: 1.1rem;
}

form input[type="text"],
form input[type="email"],
form input[type="password"],
form select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid var(--darkGreenOlive);
    border-radius: 5px;
    font-size: 1rem;
}

form input[type="submit"] {
    background-color: var(--darkGreenOlive);
    color: var(--wheat);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form input[type="submit"]:hover {
    background-color: darkolivegreen;
}

/* Messages d'erreur ou de confirmation */
p {
    color: var(--darkGreenOlive);
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
}

/* Style pour le bouton de suppression */
input[type="submit"][value="Supprimer"] {
    background-color: #B22222; 
    color: #fff;
}

input[type="submit"][value="Supprimer"]:hover {
    background-color: #8B0000; 
}