:root {
    --dark-green-olive: #556B2F; /* Dark Green Olive */
    --wheat: #F5DEB3;           /* Wheat */
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--wheat);
    color: var(--dark-green-olive);
}

h2 {
    text-align: center;
    color: var(--dark-green-olive);
    font-size: 2rem;
    margin-top: 20px;
}

#habitat-select {
    display: block;
    width: 200px;
    margin: 20px auto;
    padding: 10px;
    background-color: var(--dark-green-olive);
    color: white;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
}

#animals-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.card {
    width: 280px;               /* Taille fixe des cartes */
    height: auto;               /* Hauteur auto pour laisser de la place à la description */
    background-color: var(--dark-green-olive);
    color: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    text-align: center;
    transition: transform 0.3s ease-in-out;
}

.card:hover {
    transform: translateY(-10px);  /* Effet au survol */
}

.card img {
    max-width: 100%;
    max-height: 200px;
    object-fit: cover;           /* Assure que l'image couvre bien l'espace sans distorsion */
    border-radius: 5px;
}

.card h3 {
    font-size: 1.4rem;
    margin-bottom: 10px;
    font-weight: bold;
}

.card p {
    font-size: 1rem;
    margin-bottom: 5px;
}

.card .description {
    font-size: 0.9rem;
    color: #F5F5F5; /* Couleur légèrement plus claire pour la description */
    margin-top: 10px;
    text-align: left;
    max-height: 100px;
    overflow-y: auto; /* Permet de défiler si la description est trop longue */
    text-overflow: ellipsis;
}

.card .btn-delete {
    background-color: #FF6347;  /* Couleur rouge tomate pour le bouton de suppression */
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 1rem;
}

.card .btn-delete:hover {
    background-color: #D9534F;
}

@media (max-width: 1200px) {
    #animals-list {
        justify-content: space-around;
    }

    .card {
        width: 250px;
    }
}

@media (max-width: 768px) {
    #habitat-select {
        width: 150px;
    }

    .card {
        width: 220px;
    }

    .card .description {
        font-size: 0.9rem;
    }
}

@media (max-width: 480px) {
    body {
        padding: 10px;
    }

    #habitat-select {
        width: 100%;
    }

    .card {
        width: 100%;
    }

    h2 {
        font-size: 1.6rem;
    }

    .card .description {
        font-size: 0.8rem;
    }
}