/* Global Styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5deb3; /* Wheat pour le fond de la page */
    color: #556b2f; /* Nouveau Dark Green Olive pour tous les textes */
}

h2 {
    text-align: center;
    color: #556b2f; /* Nouveau Dark Green Olive pour le titre */
    font-size: 2em;
    margin-bottom: 30px;
}

/* Table Styles */
table {
    width: 90%;
    margin: 0 auto;
    border-collapse: collapse;
    background-color: #fafad2; /* Wheat pour le fond de la table */
    border-radius: 8px;
    box-sizing: border-box;
}

thead {
    background-color: #fafad2; /* Wheat pour l'entête de la table */
}

th, td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
    color: #556b2f; /* Nouveau Dark Green Olive pour tous les textes dans la table */
}

th {
    font-weight: bold;
}

td {
    background-color: #fafad2; /* Wheat pour le fond des lignes de la table */
}

/* Form Styles */
form {
    width: 100%;
    box-sizing: border-box;
}

input[type="text"],
input[type="submit"] {
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ddd;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #556b2f; /* Nouveau Dark Green Olive pour les boutons */
    color: white;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #3b6b3b; /* Un vert plus foncé pour le survol */
}

/* No Services Message */
td[colspan="4"] {
    text-align: center;
    color: #556b2f; /* Nouveau Dark Green Olive pour le texte */
    font-size: 1.2em;
}

/* Responsive Styles */
@media (max-width: 768px) {
    h2 {
        font-size: 1.8em;
    }

    table {
        width: 100%;
        padding: 10px;
    }

    th, td {
        padding: 8px;
    }

    input[type="text"],
    input[type="submit"] {
        font-size: 1em;
    }
}

@media (max-width: 480px) {
    h2 {
        font-size: 1.5em;
    }

    table {
        width: 100%;
    }

    th, td {
        padding: 6px;
    }

    input[type="submit"] {
        padding: 8px 15px;
    }
}